{{>change-password}}
<!-- Nav Bar  -->
  <nav class="navbar navbar-default">
    <ul class = "nav">
      <form id="sign-out" style="float:right">
      <button type="submit" class="btn btn-default  sign-out-btn">Sign Out</button>
      </form>
        <button type="button" style="float:right" class="btn btn-default  sign-out-btn change-pass-btn">Change Password</button>
      </ul>
  </nav>
